<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Producto de IA</title>
</head>
<body>
  <header>
    <h1>Algoritmo de búsqueda voraz</h1>
    <nav>
      <ul>
        <li><a href="../index.html">Regresar</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <figure>
      <img src="../img/mapa_rutas.JPG" alt="mapa de rutas" width="400px">
      <figcaption>Mapa de rutas</figcaption>
    </figure>
    
  </main>
  <script src="busqueda_voraz.js"></script>
</body>
</html>