<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../header.css">
  <link rel="stylesheet" href="markov.css">
  <title>Inteligencia Artificial</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Inteligencia Artificial</h1>
      <h2>Algoritmo de búsqueda voraz</h2>
      <a class="regresar" href="../index.html">Regresar</a>
    </div>
  </div>
  <button onclick="ejecutarAlgoritmo()">ejecutar</button>
  <script src="markov.js"></script>
</body>
</html>