.resultado {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#container-recorrido {
  background: rgb(218, 228, 238);
  border: 2px solid rgb(92, 92, 92);
  width: 400px;
  padding: 20px;
  text-align: center;
}

h3 {
  text-align: center;
  letter-spacing: 1px;
}

#resultado_recorrido {
  list-style: none;
  padding: 0;
}

#resultado_recorrido li {
  outline: 2px solid black;
  padding: 10px;
  display: inline-block;
}

#resultado_recorrido .condicion {
  outline: none;
  display: block;
}

#resultado_recorrido li:last-child {
  background: rgb(255, 152, 152);
}

#opciones_recorrido {
  padding: 4px;
}

#obtener_entropia {
  padding: 5px;
}

.entropia-datos {
  font-size: 15px;
}

/* figuras*/

img {
  width: 100%;
  max-width: 500px;
  margin: -7px;
}
